*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	background-color: #222;
}

.player-amount {
	color: #ccc;
	font-size: 1rem;
}

.btnContainer {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-evenly;
}

.btn {
	font-size: 1rem;
	cursor: pointer;
	background-color: #aaa;
	outline: none;
	color: #000;
	border: 2px solid #aaa;
	border-radius: 15px;
	padding: 0.6rem;
	margin: 1.5rem;
}

.nextBtn {
	text-decoration: none;
	font-size: 1.2rem;
	outline: none;
	cursor: pointer;
	display: inline-block;
	padding: 10px 16px;
	background-color: #ccc;
	color: #333;
	border-radius: 50%;
	border: none;
	margin: 0 1rem;
}

.nextBtn:hover {
	background-color: #fff;
	color: #555;
}

/* #solveBtn {
	position: absolute;
	top: 2vh;
	left: 50%;
	transform: translate(-50%);
} */
