*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

.btn {
	font-size: 1rem;
	cursor: pointer;
	background-color: #333;
	outline: none;
	color: #fff;
	border: 2px solid #555;
	border-radius: 15px;
	padding: 0.6rem;
	margin: 1.5rem;
}

/* #solveBtn {
	position: absolute;
	top: 2vh;
	left: 50%;
	transform: translate(-50%);
} */
