#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sudoku-board {
	border-spacing: 0;
	border: 3px solid #ddd;
	border-collapse: collapse;
}

.sudoku-square-container {
	border: 1px solid #aaa;
	padding: 0;
}

.sudoku-square {
	text-align: center;
	width: 10vw;
	max-width: 8vh;
	height: 10vw;
	max-height: 8vh;
	font-size: 5vw;
	border: none;
	color: #aaa;
	background-color: #222;
}

.sudoku-square[disabled] {
	background-color: #555;
}

.bottom-border {
	border-bottom: 3px solid #ddd;
}

.side-border {
	border-right: 3px solid #ddd;
}
